body{
    background-image: url("../images/90sbg.jpg");
}

#main{
        /* position:relative; */
    background-color: rgb(252, 233, 67);
    margin-top: 50px;
    height: 640px;
}

#gametitle{
    /* position: absolute;  */
    top: 0;
    color: blue;
    font-size: 75px;
    font-family: 'Aldrich', sans-serif;
    text-align: center;
}

#start{
    margin:auto;
    background-color: pink;
    border-width: 2px;
    border-color: purple;
    width:140px;
}

#gamespace{
    margin:auto;
    text-align: center;
}
